.conteiner-principal{
    display: flex;
}
.card-principal{
    max-height: 25rem;
    width: 15rem;
    margin: 5px;
    padding: 5px;
}
.card-imagen{
    min-height: 16rem;
    max-height: 16rem;
    width: 90%;
    image-rendering:optimizeQuality;   
}
.card-body{
    margin: 1px;
    padding: 0;
}