.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail-titulo{
    align-self: flex-start;
}

.detail-imagen{
    height: 100%;
    width: 100%;
    image-rendering: optimizeQuality;
    align-self: center;
}
.container-imagenes{
    padding: 0;
    margin: 10px;
    width: 60%;
    height: auto;
}
.contenedor-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}