.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail-titulo{
    text-align: center;
}

.detail-imagen{
    height: 100%;
    width: 100%;
    image-rendering: optimizeQuality;
    align-self: center;
}
.container-imagenes{
    padding: 0;
    margin: 0;
    width: 50%;
}